/* Set height to full viewport height, remove margin, and set font family */
body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Remove default formatting to unordered list */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Remove link underlines */
a {
  text-decoration: none;
}

/* Add dark background color to header, hero, and footer */
header,
.hero,
.footer {
  background-color: #1f2937;
}

/* Format header */
header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em  12em;
  margin-bottom: 1px;
  }

/* Make header menu align horizontally and add gap */
header ul {
  display: flex;
  gap: 24px;
}

/* Format header logo color and size*/
.logo {
  font-size: 24px;
  color: #f9faf8;
}

/* Format hero section */
.hero {
  display: flex;
  flex: 1 10 auto;
  justify-content: space-between;
  padding: 3em 12em;
  gap: 1em;
  flex-wrap: wrap-reverse;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.hero img {
  display: flex;
  align-items: center;
  flex: 1 1 10%;
  min-width: 300px;
  max-width: 100%;
  height: auto;
}

/* Format button */
button {
  padding: 6px 16px;
  border-radius: 6px;
  align-self: flex-start;
  flex-shrink: 0;
}

/* Format hero button */
.hero button {
  border-color: #1f2937;
}

/* Change font colors and size of hero subtext, header menu, and footer */
.hero p,
header a {
  font-size: 18px;
  color: #e5e7eb;
}

/* Format main hero text */
.hero h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

/* Format the button and call-to-action section */
button,
.call-to-action {
  background-color: #3882f6;
  color: white;
}

/* Format tile container */
.tile-container {
  display: flex;
  justify-content: center;
  padding: 3em 10em;
  gap: 42px;
  flex-wrap: wrap;
}

.tile {
  width: 250px;
  text-align: center;
}

.tile img {
  width: 250px;
  height: auto;
  border: 2px solid #e5e7eb;
  border-radius: 12px;
}

/* Format information text on tiles */
.tiles h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
  text-align: center;
  margin: 12px;
}

/* Format quote section */
.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 3em 12em;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote-author {
  text-align: right;
  font-weight: bolder;
}

.call-to-action {
  margin: 3em 12em;
  border-radius: 6px;
  min-height: auto;
  padding: 2em 6em;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.call-to-action h2 {
  font-size: 22px;
  font-weight: 600;
}

.call-to-action button {
  border-color: white;
  align-self: center;
}

.footer {
  font-size: 18px;
  color: #e5e7eb;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
